
<div id="container">
  <h1>ゲーム終了です</h1>
<br/><br/>
  <h2>アウトサイダーだと思う人をせーので指差し、票が最も多かった人が正体を名乗ります</h2>
  <br/>
  <h1>庶民側</h1>
  <h2>・アウトサイダーの勝利です</h2>
  <br/>
  <h1>アウトサイダー</h1>
  <h2>・庶民側のお題を間違えると庶民側の勝利です</h2>
  <h2>・ですが、庶民側のお題を当てることが出来たら逆転勝利です</h2>
  <br/><br/>
  <a href="/" class="next_btn">H O M E</a>
</div>