<!DOCTYPE html>
<html>
  <head>
    <div id="container">
    <meta charset="utf-8">
    <title>アウトサイダーゲーム</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <!-- ここからHTMLを書き始めてください -->
    <div class="heder">
      
    </div>
    <div class="main">
      <div class="copy-container">
        <h1>OUTSIDER</h1>
        <h2>アウトサイダーゲーム </h2>
      </div>
    </div>
    <br/><br/><br/> <hr/>

    <a href="/rules" class="next_btn">ル ー ル</a> <hr/>
    <br/><br/><br/><br/><br/><br/>
     <hr/>

    <div class="next-words">
    <a href="/words" class="cp_btn">S T A R T</a>
          
    </div>
  </body>
  </div>
</html>