<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>インサイダーゲーム</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <!-- ここからHTMLを書き始めてください -->
    <div class="heder">
      
    </div>
    <div class="main">
      <div class="copy-container">
          <h1>INSIDER</h1>
          <h2>インサイダーゲーム </h2>
      </div>
    </div>
    <div class="next-new">
    <a href="/games/new" class="cp_btn">スタート</a>
          
    </div>
  </body>
</html>