
<div class="users_register">
  <h1>プレイヤー設定</h1>

  <p>人数</p>


  <div class="cp_ipselect cp_sl04">
    <select name="" id="q" class="test" >
      <option value="" hidden>Choose</option>
      <option value="2">3人</option>
      <option value="3">4人</option>
      <option value="4">5人</option>
      <option value="5">6人</option>
      <option value="6">7人</option>
      <option value="7">8人</option>
      <option value="8">9人</option>
      <option value="9">10人</option>

    </select>
  </div>

  <button class="submit-btn">OK</button>

  <div class="player-name" id="wrap">
    <label class="ef">
    <input id="member1" type="text" placeholder="名前">
    
 
    </label>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">


  $(function() {
    $('.submit-btn').click(function() {

      var a = q.selectedIndex;
      var str = q.options[a].value;

      for(var i = 0; i < str; i++){
        $('.ef').append('<div class="model"><input id="member7" type="text" placeholder="名前"></div>');
      }

    })
  })

</script>

  <a href="/games" class="cpu_btn">戻る</a>

  <div class="next-options">
    <a href="/options" class="cp_btn">次へ</a>
  </div>
</div>

 