
<div class="users_register">
  <h1>プレイヤー設定</h1>

  <p>人数</p>

  <%= form_with(model: @users, class: :container, local: true, method: :post) do |form| %>
    <%= form.text_field :name, placeholder: :プレイヤー名, class: :player_name%>
    <%= form.submit '参加する', class: :submit_btn %>
  <% end %>

  

  <a href="/games" class="cpu_btn">戻る</a>

 

  <div class="next-options">
    <a href="/options" class="cp_btn">次へ</a>
  </div>
</div>

 