<div class="game-title">
  <h1>MASTER 決定</h1>

  <div class="gm-title"></div>

    <%= form_with(model: @gms, class: :title_name, local: true, method: :post) do |form| %>
      <%= form.text_field :title, placeholder: :お題, class: :gm_title%>
      <%= form.submit '決定', class: :submit_btn %>
    <% end %>

  <a href="/options" class="cpu_btn">戻る</a>

  <div class="next-user-title">
    <a href="#" class="cp_btn">次へ</a>
  </div>
</div>