ステータス表示

  <a href="/titles" class="cpu_btn">男に二言は無いだろ</a>

  <div class="next-players-show">
    <a href="players/show" class="cp_btn">次へ</a>

    <div class="next-times">
    <a href="times" class="cp_btn">質問タイム</a>