<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
  <head>
   
    <title>インサイダーゲーム</title>

    <link rel="stylesheet" href="../normalize.css" type="text/css">
    <link rel="stylesheet" href="../base.css" type="text/css">
    <link rel="stylesheet" href="theme.css" type="text/css">
  </head>

  <body onload="init()">
    <a href="/"><img src="/home.png" alt="HOME"></a>

    <div id="container">
      <div id="header">
        <h1 title="インサイダーゲーム">インサイダーゲーム</h1>
          <p>同期メンバー巻き込みます</p>
      </div>

      <div id="main">
        <hr>
          <h2>【プレイヤー人数、リセット】</h2>
          <form>
            プレイヤー数：
          <select id="selectnum" onchange="init()">
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          </select>人
            テーマ：
          <select id="selectgenre" onchange="init()">
            <option value="story">童話</option>
            <option value="animal">動物</option>
            <option value="sports">スポーツ</option>
            <option value="mangaanime">漫画・アニメ</option>
            <option value="videogame">テレビゲーム</option>
          </select>
            <input type="button" value="リセット" onclick="init()">
          </form><br>
          <h2>【お題表示】</h2>
            <div id="display">
            
            <span id="turnnum">X</span>人目（<span id="plnum">Y</span>人中）<br>

            <input id="turnbutton" type="button" value="準備完了、お題を表示" onclick="displayTheme()"><br>
            <br><br>
            
            お題：<span id="themestr">  </span><br>
            <input id="themebutton" type="button" value="了解、次の人へ" onclick="nextPlayer()" disabled=""></div>
          <br><br>
        <hr>
    

      </div>

    </div>

  </body>
</html>

