@charset "UTF-8";

html {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size:16px;
}
body {
  padding: 0 2px;
}
#container {
  width:98%;
  max-width: 640px;
  margin: 10px auto;
  padding: 10px;
  border: solid white 1px;
}
#header {
  clear:both;
}
#main{
  clear:both;
}
h1{
  margin:0;
}
th,td{
  padding: 2px;
}

.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}

.space{
  margin-bottom:8px;
}