// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.cp_btn {
	display: block;
	text-align: center;
	text-decoration: none;
	color: red;
	height: 120px;
	line-height: 120px;
	border: double 4px red;
	overflow: hidden;
  transition: .6s;
  font-size: 100px;
}
a.cp_btn:hover {
	transform: rotateY(360deg);
}



a.next_btn {
	display: block;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: rgb(255, 0, 0);
	border: 2px solid rgb(255, 0, 0);
	border-radius: 3px;
  transition: .4s;
  font-size: 20px;

}
a.next_btn:hover {
	background: rgb(255, 0, 0);
  color: #fff;
 
}

.main {
  text-align: center;
  font-size: 40px;

}

