@charset "UTF-8";

body{
  background-color: #000000;
  color: red;
}

#header h1{
  font-size: 28px;
  display: inline-block;
  text-shadow: 0px -1px #300, 1px 0px #000, 0px 1px #000, -1px 0px #300, 1px 2px 3px #333;
  position: relative;
  color: hsl(0, 100%, 50%); 
 }

#display{
  font-size:28px;
}
#display input{
  margin-top:10px;
}
#turnnum{
  font-size:48px;
  background-color:white;
  padding:0 10px;
  color: #000;
}
#themestr{
  font-size:48px;
  background-color:white;
  padding:0 10px;
  color: #000;
}