<div id="container">

  <h1>〜ルール説明〜</h1>
  <h2></h2>
  <h2>「お題」「話し合い」「投票」この順番にゲームは進みます</h2>
  <h2>①「お題」</h2>
  <h2>・これからプレイヤー1人ずつに「お題」が発表されます</h2>
  <h2>・他のプレイヤーに見えないよう確認してください</h2>
  <h2>・「お題」には2種類あり、お題が見える人（庶民）とお題が見えない人（アウトサイダー）に分かれています</h2>
  <h2>・アウトサイダーは1人です</h2>
  <h2>②「話し合い」</h2>
  <h2>・プレイヤーは話し合いの中で「誰がお題を知らない人（アウトサイダー）かを考えて話し合います」</h2>
  <h2>・お題が見えない人（アウトサイダー）は各テーマやお題が見える（庶民）のキーワードを予測し、庶民のように振る舞ってくだい</h2>
  <h2>・お題」を発言することや、類似するような質問は禁止</h2>
  <h2>・制限時間になると話し合いが終了します</h2>
  <h2>③「投票」</h2>
  <h2>・それぞれのプレイヤーは「せーの」でアウトサイダーだと思う人を指差してください</h2>
  <h2>・一番指を指された数（投票数）が多いかによって勝敗が決定</h2>
  <h2>１.庶民側のプレイヤーが一番投票されてしまった場合、うまく騙せたアウトサイダーの勝ち</h2>
  <h2>２.アウトサイダーが一番投票されてしまった場合、嘘を見抜いた庶民側の勝ち</h2>
  <h2>３.アウトサイダーが投票されても、市民側のお題を当てることが出来れば大逆転勝利</h2>
  <h2>・2人以上が同票数の場合、サドンデス（延長戦）を開始</h2>
  <h2>・サドンデスは再度投票を行います</h2>
  <h2>・サドンデスをしても勝敗がつかない場合、サドンデスは勝敗が決まるまで継続</h2>
  <h2></h2> <hr/>

  <a href="/" class="next_btn">H O M E</a>

</div>